<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form #postForm="ngForm" (submit)="onSavePost(postForm)" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="post?.title"
        #title="ngModel"
        required
        minlength="3"
        placeholder="Post Title"
      />
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        name="content"
        [ngModel]="post?.content"
        #content="ngModel"
        required
        placeholder="Post Content"
      ></textarea>
      <mat-error *ngIf="content.invalid"
        >Please enter a post content.</mat-error
      >
    </mat-form-field>
    <button mat-raised-button type="submit" color="accent">Save Post</button>
  </form>
</mat-card>
